@font-face {
  font-family: "iconfont";
  src: url('../iconfont/iconfont.eot');
  /* IE9*/
  src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../iconfont/iconfont.woff') format('woff'), /* chrome��firefox */ url('../iconfont/iconfont.ttf') format('truetype'), /* chrome��firefox��opera��Safari, Android, iOS 4.2+*/ url('../iconfont/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
*[data-icon=c0] {
  content: "\e60d";
  font-family: "iconfont";
}
*[data-icon=c0]:before {
  content: "\e60d";
}
*[data-icon=c0][icon-pos=top]:before {
  display: block;
  content: "\e60d";
  text-align: center;
}
*[data-icon=c0][icon-pos=right]:before {
  content: "";
}
*[data-icon=c0][icon-pos=right]:after {
  content: "\e60d";
  font-family: iconfont;
}
*[data-icon=c0][icon-pos=bottom]:before {
  content: "";
}
*[data-icon=c0][icon-pos=bottom]:after {
  content: "\e60d";
  font-family: iconfont;
  display: block;
  text-align: center;
}
*[data-icon=c1] {
  content: "\e68b";
  font-family: "iconfont";
}
*[data-icon=c1]:before {
  content: "\e68b";
}
*[data-icon=c1][icon-pos=top]:before {
  display: block;
  content: "\e68b";
  text-align: center;
}
*[data-icon=c1][icon-pos=right]:before {
  content: "";
}
*[data-icon=c1][icon-pos=right]:after {
  content: "\e68b";
  font-family: iconfont;
}
*[data-icon=c1][icon-pos=bottom]:before {
  content: "";
}
*[data-icon=c1][icon-pos=bottom]:after {
  content: "\e68b";
  font-family: iconfont;
  display: block;
  text-align: center;
}
*[data-icon=c2] {
  content: "\e665";
  font-family: "iconfont";
}
*[data-icon=c2]:before {
  content: "\e665";
}
*[data-icon=c2][icon-pos=top]:before {
  display: block;
  content: "\e665";
  text-align: center;
}
*[data-icon=c2][icon-pos=right]:before {
  content: "";
}
*[data-icon=c2][icon-pos=right]:after {
  content: "\e665";
  font-family: iconfont;
}
*[data-icon=c2][icon-pos=bottom]:before {
  content: "";
}
*[data-icon=c2][icon-pos=bottom]:after {
  content: "\e665";
  font-family: iconfont;
  display: block;
  text-align: center;
}
*[data-icon=c3] {
  content: "\e711";
  font-family: "iconfont";
}
*[data-icon=c3]:before {
  content: "\e711";
}
*[data-icon=c3][icon-pos=top]:before {
  display: block;
  content: "\e711";
  text-align: center;
}
*[data-icon=c3][icon-pos=right]:before {
  content: "";
}
*[data-icon=c3][icon-pos=right]:after {
  content: "\e711";
  font-family: iconfont;
}
*[data-icon=c3][icon-pos=bottom]:before {
  content: "";
}
*[data-icon=c3][icon-pos=bottom]:after {
  content: "\e711";
  font-family: iconfont;
  display: block;
  text-align: center;
}
